<div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
        <p class="m-0">
            <a class="text-white" href="https://eespmdm.edu.pe">EESP "Marcos Duran Martel"</a>
            {{ 'footer.copyright' | translate:{ date:'y'} }}
            <span class="text-white">Todos los derechos reservados</span>
        </p>
    </div>
</div>

<footer class="text-lg-start">
    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
        <div class="content-container">
            <p class="m-0">
                <a class="text-white" href="https://eespmdm.edu.pe">{{ 'footer.link.dspace' | translate}}</a>
                {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
                <span class="text-white">Todos los derechos reservados</span>
            </p>
        </div>
    </div>
    <!-- Copyright -->
</footer>